{% extends 'base.html' %}
{% load static %}

{% block title %}Tools - {{ block.super }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="main-content">
        <div class="blog-posts">
            {% for tool in tools %}
                <article class="post">
                    <header class="post-header">
                        <time class="post-date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            </svg>
                            {{ tool.created_at|date:"F j, Y" }}
                        </time>
                        <h2 class="post-title">
                            <a href="{% url 'tools:detail' tool.slug %}" class="post-title-link">
                                {{ tool.name }}
                            </a>
                        </h2>
                    </header>
                    
                    <div class="post-content">
                        {% if tool.description %}
                            {{ tool.description }}
                        {% endif %}
                        
                        <div class="post-read-more">
                            <a href="{% url 'tools:detail' tool.slug %}" class="read-more-link">
                                Open Tool
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
            {% empty %}
                <div class="no-posts">
                    <p>No tools found.</p>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <aside class="sidebar">
        <div class="sidebar-section">
            <h3 class="sidebar-title">Tools</h3>
            <div class="tag-cloud">
                <p>{{ total_tools }} tool{{ total_tools|pluralize }} available</p>
            </div>
        </div>
    </aside>
</div>
{% endblock %}